---
import Container from "../components/Container.astro";
import Layout from "./_layout.astro";
---

<Layout title="About Me" description="Lorem ipsum dolor sit amet">
  <Container>
    <h1 class="text-brand-600 text-3xl font-light py-6">About Us</h1>
  </Container>
</Layout>
