---
import { Image } from "astro:assets";
import Layout from "./_layout.astro";
import { SITE_CONTACT } from "@/consts";
import ClientCloud from "@/components/client_cloud.astro";
import LinkButton from "@/components/ui/link_button.astro";
import { Carousel } from "@/components/blocks/hero_carousel";
import Container from "@/components/Container.astro";
import ServiceCard from "@/components/blocks/service_card.astro";

// carousel images
import carousel1Corporate from "../images/home/carousel_1_corporate.jpg";
import carousel2Health from "../images/home/carousel_2_health.jpg";
import carousel3Lounge from "../images/home/carousel_3_lounge.jpg";
import carousel4Wem from "../images/home/carousel_4_wem.jpg";
import carousel5Calgary from "../images/home/carousel_5_calgary.jpg";

// service images
import services1 from "../images/home/services_1.png";
import services3 from "../images/home/services_3.png";
import saniclean from "../images/home/saniclean.png";
import FloatingPanel from "@/components/floating_panel.astro";
---

<Layout>
  <!-- Hero -->
  <Carousel
    client:load
    slides={[
      {
        image: carousel1Corporate.src,
        alt: "Boardroom",
        title: "Corporate office cleaning",
        caption: "Daily to Weekly service",
      },
      {
        image: carousel2Health.src,
        alt: "Dental office",
        title: "Clinics and Institions",
        caption: "For a germ free environment",
      },
      {
        image: carousel3Lounge.src,
        alt: "Lawyer's lounge",
        title: "Full Janitorial Service & Building Maintenance",
        caption: "There when you need us",
      },
      {
        image: carousel4Wem.src,
        alt: "West Edmonton Mall",
        title: "Restaurant & Retail",
        caption: "Cleanliness makes an outstanding presentation",
      },
      {
        image: carousel5Calgary.src,
        alt: "Calgary downtown skyline",
        title: "Serving Alberta & Surrounding Area",
        caption: "Service second to none",
      },
    ]}
    options={{ loop: true }}
  />

  <section class="relative">
    <FloatingPanel shadow="b">
      <Container class="bg-white">
        <div class="pb-8 pt-4">
          <h1 class="text-4xl py-4 font-extralight text-gray-700 text-center">
            SANICLEAN<br />Cleaning and Maintenance Is What We Do Best
          </h1>
          <p class="text-brand-600 italic text-center">
            We provide janitorial building maintenance and commercial cleaning
            services in Alberta and surrounding areas
          </p>
        </div>
      </Container>
    </FloatingPanel>
  </section>

  <section class="bg-gray-100 py-16" id="services">
    <Container>
      <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-6">
        <ServiceCard image={services1}>
          <div slot="heading">24 Hour<br />Emergency Service</div>
          <Fragment slot="content">
            <p>
              At Saniclean, we are there for our clients 24/7. This service only
              available to clients.
              <span class="block font-bold text-center"
                >{SITE_CONTACT.phone}</span
              >
            </p>
          </Fragment>
        </ServiceCard>
        <ServiceCard image={saniclean}>
          <div slot="heading"></div>
          <div slot="content"></div>
        </ServiceCard>
        <ServiceCard image={services3}>
          <div slot="heading">Floor Finishing & Carpet Cleaning</div>
          <div slot="content">
            In addition to full carpet cleaning, we offer complete floor
            cleaning, stripping, refinishing, and waxing services
          </div>
        </ServiceCard>
      </div>
    </Container>
  </section>

  <section class="py-24 sm:py-32 bg-gray-100" id="statistics">
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
      <div class="mx-auto max-w-2xl lg:max-w-none">
        <div class="text-center">
          <h2
            class="text-4xl font-semibold tracking-tight text-balance text-gray-900 sm:text-5xl"
          >
            Committed to your satisfaction
          </h2>
          <p class="mt-4 text-lg/8 text-gray-600">
            We strive to a earn your trust and confidence with every job we do.
          </p>
        </div>
        <dl
          class="mt-16 py-5 grid grid-cols-1 gap-0.5 overflow-hidden bg-brand-200 rounded-full text-center sm:grid-cols-2 lg:grid-cols-4"
        >
          <div class="flex flex-col p-8">
            <dt class="text-sm/6 font-semibold text-gray-600">
              Jobs completed
            </dt>
            <dd
              class="order-first text-3xl font-semibold tracking-tight text-gray-900"
            >
              1,000+
            </dd>
          </div>
          <div class="flex flex-col p-8">
            <dt class="text-sm/6 font-semibold text-gray-600">
              Serving clients
            </dt>
            <dd
              class="order-first text-3xl font-semibold tracking-tight text-gray-900"
            >
              16+ years
            </dd>
          </div>
          <div class="flex flex-col p-8">
            <dt class="text-sm/6 font-semibold text-gray-600">
              Emergency service
            </dt>
            <dd
              class="order-first text-3xl font-semibold tracking-tight text-gray-900"
            >
              24/7
            </dd>
          </div>
          <div class="flex flex-col p-8">
            <dt class="text-sm/6 font-semibold text-gray-600">BBB Rating</dt>
            <dd
              class="order-first text-3xl font-semibold tracking-tight text-gray-900"
            >
              A+
            </dd>
          </div>
        </dl>
      </div>
    </div>
  </section>

  <section id="faq"></section>

  <section id="calling card"></section>
</Layout>
