---
import Container from "@/components/Container.astro";
import Layout from "./_layout.astro";
---

<Layout title="Services" description="">
  <Container>
    <h1 class="text-brand-600 text-3xl font-light py-6">
      Commercial Cleaning Services
    </h1>
  </Container>
</Layout>
