---
import type { HTMLAttributes } from "astro/types";
type Props = { size?: "sm" | "base" | "lg" } & HTMLAttributes<"div">;
const { size = "base", class: className, ...props } = Astro.props;
---

<div class:list={[className, "w-full"]} {...props}>
  <div
    class:list={[
      "mx-3 lg:mx-auto",
      size === "sm" && "max-w-screen-lg",
      size === "base" && "max-w-screen-xl",
      size === "lg" && "max-w-screen-2xl",
    ]}
  >
    <slot />
  </div>
</div>
