---
import type { HTMLAttributes } from "astro/types";
type Props = HTMLAttributes<"div">;
const { class: className, ...props } = Astro.props;
---

<div class:list={[className, "max-w-4xl mx-3 lg:mx-auto"]} {...props}>
  <slot />
</div>
