---
import { LEGAL_NAME } from "../consts";
import FloatingPanel from "./floating_panel.astro";

const today = new Date();
---

<FloatingPanel shadow="t">
  <footer class="py-8">
    <div class="text-center text-sm text-gray-600">
      &copy; Copyright 2016 - {today.getFullYear()}
      {LEGAL_NAME}
      | <a class="text-blue-600 hover:underline" href="/privacy-policy"
        >Privacy Policy</a
      >
      | <a class="text-blue-600 hover:underline" href="/terms-of-service"
        >Terms of Service</a
      >
    </div>
  </footer>
</FloatingPanel>
