---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../consts";
import { Image } from "astro:assets";
import Logo from "./logo.png";
---

<header>
  <div class="flex items-center justify-between px-4">
    <h2>
      <a class="" href="/">
        <Image
          src={Logo}
          alt={SITE_TITLE}
          width="135"
          height="97"
          loading="eager"
        />
      </a>
    </h2>
    <nav class="space-x-4">
      <HeaderLink href="/">Home</HeaderLink>
      <HeaderLink href="/services">Services</HeaderLink>
      <HeaderLink href="/about">About</HeaderLink>
      <HeaderLink href="/blog">Blog</HeaderLink>
      <HeaderLink href="/contact">Contact</HeaderLink>
    </nav>
    <div>
      <a class="p-4 bg-lime-600" href="/contact">Free Estimate</a>
    </div>
  </div>
</header>
