@import "tailwindcss";
@import "tw-animate-css";

@theme {
  --font-sans: "Inter Variable", "sans-serif";
  --color-brand-50: #edfbfe;
  --color-brand-100: #d2f2fb;
  --color-brand-200: #abe4f6;
  --color-brand-300: #71d0ef;
  --color-brand-400: #30b2e0;
  --color-brand-500: #1496c7;
  --color-brand-600: #1377a7;
  --color-brand-700: #176187;
  --color-brand-800: #1b506f;
  --color-brand-900: #1b435e;
  --color-brand-950: #0c2a40;

  --color-background: #1b6cb8;
  --color-foreground: #4b4b4b;

  --slide-height: 28rem;
  --slide-spacing: 1rem;
  --slide-size: 100%;

  --animate-marquee: marquee 30s linear infinite;
  @keyframes marquee {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }
}
